<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="UserVO" type="com.myproject.myapp.model.UserVO" />
		<typeAlias alias="YoutubeVO" type="com.myproject.myapp.model.YoutubeVO" />
		<typeAlias alias="GallaryVO" type="com.myproject.myapp.model.GallaryVO" />
	</typeAliases>
</configuration>